{% extends 'common.html' %}

{% load static %}

{% block title %} About Me {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm primary-background navbar-radius p-4 m-0 w-100" data-bs-theme="dark">
    <div class="container-fluid p-0">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center mt-4" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link text-white active navitem-selected" aria-current="page"
                    href="{% url 'about' %}">About</a>
                <a class="nav-link text-white" href="{% url 'projects' %}">Projects</a>
                <a class="nav-link text-white" href="{% url 'resume' %}">Resume</a>
                <a class="nav-link text-white" href="{% url 'iot' %}">IOT</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid p-4">
    <!-- Title and Description Area -->
    <div class="text-center mt-2 px-3">
        <h1 class="mb-3">About me</h1>
        <p class="lead text-white">
            Hi, I'm Zyldjan Lanticse, a Computer Science student with too much free time and too curious for his own
            good.
        </p>
    </div>

    <p class="custom-hr-center"></p>

        <!--Regular Title-->
        <div class="col-12 mt-5">
            <h3 class="text-white text-left">
                My Passions
            </h3>
            <p class="custom-hr-left"></p>
        </div>


        <!--Cards-->
        <div class="container px-2 col-12">
            <div class="row d-flex justify-content-around align-items-stretch">


                <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                    <div class="card card-accent-right primary-background p-2 h-100">
                        <div class="row g-0">
                            <div class="col-md-3 passion-icon-container">
                                <img src="{% static 'assets/django.png' %}"
                                    class="passion-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white py-3">
                                    <h5 class="card-title">Backend Development</h5>

                                    
                                    <!--Regular Description-->
                                    <div class="col-12">
                                        <p class="text-white m-0 description">
                                            I love the problem-solving that comes with playing around with backend technologies; demonstrating how data is stored, transferred, and interpreted. One of my go-to backend frameworks is Python Django, as it strikes a balance between development speed and design consistency.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                    <div class="card card-accent-right primary-background p-2 h-100">
                        <div class="row g-0">
                            <div class="col-md-3 passion-icon-container">
                                <img src="{% static 'assets/cybersecurity.png' %}"
                                    class="passion-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white py-3">

                                    <h5 class="card-title">Cybersecurity</h5>

                                    
                                    <!--Regular Description-->
                                    <div class="col-12">
                                        <p class="text-white m-0 description">
                                            My passion for cybersecurity stems from the fact that bits of data, represented as 1's and 0's, can change unexpectedly and without notice. This inherent unpredictability drives me to develop software solutions that address and mitigate these security challenges. You will begin to notice once you see my projects.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                    <div class="card card-accent-right primary-background p-2 h-100">
                        <div class="row g-0">
                            <div class="col-md-3 passion-icon-container">
                                <img src="{% static 'assets/linux.png' %}"
                                    class="passion-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white py-3">

                                    <h5 class="card-title">Operating Systems</h5>

                                    
                                    <!--Regular Description-->
                                    <div class="col-12">
                                        <p class="text-white m-0 description">
                                            It all started when a specific feature in Windows became the last straw that broke the camel's back. This experience prompted me to explore other operating systems, and in hindsight, it turned out to be a blessing in disguise. It allowed me to appreciate a variety of operating systems, particularly the Linux derivatives.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                       
                <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                    <div class="card card-accent-right primary-background p-2 h-100">
                        <div class="row g-0">
                            <div class="col-md-3 passion-icon-container">
                                <img src="{% static 'assets/arduino.png' %}"
                                    class="passion-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white py-3">

                                    <h5 class="card-title">DIY Electronics</h5>

                                    
                                    <!--Regular Description-->
                                    <div class="col-12">
                                        <p class="text-white m-0 description">  
                                            Since I was little, I was always fascinated of bringing computers to 'life', to have some sort of tangible function -- a thing you couldn't feel with software alone. Doing that now, I realized it wasn't all too hard. Whenever, I get burnt out of coding, tinkering with electronics became my shelter and comfort.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


             

            </div>
        </div>


        <!--Regular Title-->
        <div class="col-12 mt-4">
            <h3 class="text-white text-left">
                Level of Expertise
            </h3>
            <p class="custom-hr-left"></p>
        </div>


        <!--Expertise Progress Bars-->
        <div class="container p-0 col-12 px-2 primary-background window-radius">

            <!--Backend Framework Expertise Progress Bars-->
            <div class="row d-flex justify-content-start p-3 pt-4">

                <h5 class="col-12 text-white text-left">
                    Backend Frameworks
                </h5>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-django.svg' %}"
                                    class="progress-icon p-2 img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">Django</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 80%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-flask.png' %}"
                                    class="progress-icon p-2 img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">Flask</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 25%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-ef.png' %}" style="border-radius: 20px;"
                                    class="progress-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">Entity Framework</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 40%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-asp.png' %}" style="border-radius: 50%;"
                                    class="progress-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">ASP.NET Core</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 0%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="my-2"></div>

            <!--Frontend Framework Expertise Progress Bars-->
            <div class="row d-flex justify-content-start  p-3">

                <h5 class="col-12 text-white text-left">
                    Frontend Frameworks
                </h5>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-avalonia.png' %}"
                                    class="progress-icon p-2 img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">Avalonia</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 70%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-rn.png' %}" style="border-radius: 50%;"
                                    class="progress-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">React Native</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 55%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-unity.png' %}" style="border-radius: 20px;"
                                    class="progress-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">Unity</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 45%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-bootstrap.png' %}" style="border-radius: 20px;"
                                    class="progress-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">Bootstrap</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 85%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-reactjs.png' %}" style="border-radius: 50%;"
                                    class="progress-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">React</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 0%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="my-2"></div>


            <!--Languages Expertise Progress Bars-->
            <div class="row d-flex justify-content-start p-3">

                <h5 class="col-12 text-white text-left">
                    Languages
                </h5>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-c#.png' %}" class="progress-icon p-2 img-fluid"
                                    alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">C#</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 75%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-python.png' %}"
                                    class="progress-icon p-2 img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">Python</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 95%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-html.svg' %}"
                                    class="progress-icon p-2 img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">HTML</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 90%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-css.svg' %}"
                                    class="progress-icon p-2 img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">CSS</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 65%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-js.svg' %}"
                                    class="progress-icon p-2 img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">Javascript</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 40%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card primary-background p-2">
                        <div class="row g-0">
                            <div class="col-md-3 progress-icon-container">
                                <img src="{% static 'assets/progress-c++.png' %}"
                                    class="progress-icon p-2 img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body text-white">
                                    <p class="progress-title">C++</p>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar accent-bgcolor" style="width: 20%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!--Regular Title-->
        <div class="col-12 mt-4">
            <h3 class="text-white text-left">
                Website Stands on the Shoulders of
            </h3>
            <p class="custom-hr-left"></p>
        </div>

        <!--Website Credit-->
        <div class="container px-2 mb-4 primary-background card-shadow window-radius">
            <ul class="list-group ">
                <li class="list-group-item text-white primary-background" style="border: 0;">
                    <div class="container-fluid my-2">
                        <p>Hosting</p>
                        <a class="row d-flex justify-content-end" href="https://www.pythonanywhere.com/">
                            <img class="col-sm-4" width="250px" height="100px" style="border-radius: 10px;"
                                src="{% static 'assets/pythonanywhere.png' %}" alt="">
                        </a>
                    </div>
                </li>
                <li class="list-group-item primary-background text-white" style="border: 0;">
                    <div class="container-fluid my-2">
                        <p>DNS</p>
                        <a class="row d-flex justify-content-end" href="https://www.namecheap.com/">
                            <img class="col-sm-4 credit-icon" style="border-radius: 50%;"
                                src="{% static 'assets/credit-dns.png' %}" alt="">
                        </a>
                    </div>
                </li>
                <li class="list-group-item primary-background text-white container-fluid" style="border: 0;">
                    <div class="container-fluid my-2">
                        <p>Frontend</p>
                        <div class="row d-flex justify-content-end">
                            <img class="col-sm-3 credit-icon" src="{% static 'assets/html.png' %}" alt="">
                            <img class="col-sm-3 credit-icon" src="{% static 'assets/css.png' %}" alt="">
                            <img class="col-sm-3 credit-icon" src="{% static 'assets/js.png' %}" alt="">
                            <img class="col-sm-3 credit-icon" src="{% static 'assets/bootstrap1.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li class="list-group-item primary-background text-white" style="border: 0;">
                    <div class="container-fluid my-2">
                        <p>Backend</p>
                        <a class="row d-flex justify-content-end" href="https://www.djangoproject.com/">
                            <img class="credit-icon" src="{% static 'assets/credit-django.svg' %}" alt="">
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    <!-- Notice
    <div class="container-fluid mt-4">
        <blockquote class="custom-blockquote">
            Under Construction
        </blockquote>
    </div> -->
</div>

<!-- <div class="row footer-radius footer-background d-flex justify-content-center align-items-center m-0">
        <p class="text-white text-center p-4" style="margin: auto;">All rights reserved</p>
    </div> -->
{% endblock %}