{% extends 'common.html' %}

{% load static %}

{% block title %} My IOT  {% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm primary-background navbar-radius p-4 m-0 w-100" data-bs-theme="dark">
        <div class="container-fluid p-0">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center mt-4" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="{% url 'about' %}">About</a>
                    <a class="nav-link text-white" href="{% url 'projects' %}">Projects</a>
                    <a class="nav-link text-white" aria-current="page" href="{% url 'resume' %}">Resume</a>
                    <a class="nav-link text-white active navitem-selected" href="{% url 'iot' %}">IOT</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container-fluid p-4">
       
        <!-- Title and Description Area -->
        <div class="text-center mt-2 px-3">
            <h1 class="mb-3">Internet of Things</h1>
            <p class="lead text-white">
                The space where I get to stick tangible objects to the internet through these miniature devices, either for personal use or to intrigue curious visitors.
            </p>
        </div>

        <p class="custom-hr-center"></p>
    
        

    </div>

    <!--Notice-->
    <div class="container-fluid mt-4">
        <blockquote class="custom-blockquote">
            More Coming Soon!
        </blockquote>
    </div>
{% endblock %}