{% extends 'common.html' %}

{% load static %}

{% block title %} My IOT  {% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm primary-background navbar-radius p-4 m-0 w-100" data-bs-theme="dark">
        <div class="container-fluid p-0">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center mt-4" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="{% url 'about' %}">About</a>
                    <a class="nav-link text-white" href="{% url 'projects' %}">Projects</a>
                    <a class="nav-link text-white" aria-current="page" href="{% url 'resume' %}">Resume</a>
                    <a class="nav-link text-white active navitem-selected" href="{% url 'iot' %}">IOT</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container-fluid p-4">
       
        <!-- Title and Description Area -->
        <div class="text-center mt-2 px-3">
            <h1 class="mb-3">Internet of Things</h1>
            <p class="lead text-white">
                The space where I get to stick tangible objects to the internet through these miniature devices, either for personal use or to intrigue curious visitors.
            </p>
        </div>

        <p class="custom-hr-center"></p>


        <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
            <div class="card card-accent-right primary-background p-2"> 
                <div class="row g-0">
                    <div class="col-md-7 notableproject-icon-container mt-2">
                        <img src="{% static 'assets/iot-dht11.jpeg' %}"
                            class="p-2 img-fluid" alt="...">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body text-white">

                            <h5 class="progress-title text-left">PC Internal Temps</h5>

                            <p>
                                <span class="badge rounded-pill" style="background-color: black;">ESP8266</span> 
                                <span class="badge rounded-pill" style="background-color: brown;">DHT 11</span> 
                                <span class="badge rounded-pill" style="background-color: darkcyan;">C++</span>
                                <span class="badge rounded-pill" style="background-color: red;">REST API</span>
                                <span class="badge rounded-pill" style="background-color: blue;">Python</span> 
                                <span class="badge rounded-pill" style="background-color: green;">Django</span> 
                                <span class="badge rounded-pill" style="background-color: orange;">AJAX</span>
                            </p>


                            <div class="col-12 mt-2 mb-2 d-flex justify-content-start align-items-center">
                                 <ul class="list-group text-decoration-none ">
                                    <li class="list-group-item">Status: <b><span id="status"></span></b> </li>
                                    <li class="list-group-item">Temperature: <b><span id="temperature"></span>°C</b></li>
                                    <li class="list-group-item">Humidity: <b><span id="humidity"></span>%</b></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>  

    </div>

    <!--Notice-->
    <div class="container-fluid mt-4">
        <blockquote class="custom-blockquote">
            More Coming Soon!
        </blockquote>
    </div>


    <script>
        function getCurrentData() {
          fetch('/iot/get_current_data/')
          .then(response => response.json())
          .then(data => {
              document.getElementById('status').innerText = data.status;
              document.getElementById('temperature').innerText = data.temperature;
              document.getElementById('humidity').innerText = data.humidity;
  
          })
          .catch(error => console.error('Error:', error));
        }
  
        setInterval(getCurrentData, 5000);
    </script>
{% endblock %}