{% extends 'common.html' %}

{% load static %}

{% block title %} My Resume {% endblock %}


{% block content %}
    <nav class="navbar navbar-expand-sm primary-background navbar-radius p-4 m-0 w-100" data-bs-theme="dark">
        <div class="container-fluid p-0">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center mt-4" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="{% url 'about' %}">About</a>
                    <a class="nav-link text-white" href="#">Projects</a>
                    <a class="nav-link text-white active navitem-selected" aria-current="page" href="#">Resume</a>
                    <a class="nav-link text-white" href="#">IOT</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container p-4">

        <!-- Title and Description Area -->
        <div class="text-center mt-2 px-3">
            <h1 class="mb-3">Resume</h1>
            <p class="lead text-white">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis delectus odio ea vero eligendi non molestias suscipit.
            </p>
        </div>

        <p class="custom-hr-center"></p>

        <!--Regular Description-->
        <div class="col-12 mt-4 mb-5">
            <p class="text-white" style="text-align: justify;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium hic delectus illo voluptatibus soluta totam assumenda repudiandae quia rem, corrupti ad recusandae alias adipisci, numquam blanditiis saepe? Amet, reprehenderit tempora!
            </p>
        </div>


        <!--Achievements
            Grade 11 - With honors
            Grade 12 - With High Honors
            College Scholar - 2024-2025
            Has maintained a stable GWA of 1.4
        -->

        <!--Projects       
        Personal 
            hash-dog
            hash-transfer-cli
            terraADBsync

        Academic
            mobile-recipe-app
            shelby-lorraine-crochet
            kamayan

        Extracurricular
            GDSC - hackathon contender
        -->
        
        <!--Regular Title-->
        <div class="col-12 mt-4">
            <h3 class="text-white text-left">
                Education
            </h3>
            <p class="custom-hr-left"></p>  
        </div>

        

        <!--Education Timeline-->
        <section class="bsb-timeline-4  py-3 py-md-3 py-xl-3">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="education-icon-container">
                        <img class="education-icon" src="{% static 'assets/education-cap.png' %}" alt="">
                    </div>
                    
                    <div class="col-10 col-md-12 col-xl-10 col-xxl-9">
      
                    <ul class="timeline">
                        <li class="timeline-item left">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                            <div class="d-inline-flex flex-column px-2 py-1 text-white primary-background rounded-2 text-md-end">
                                <span>2019 - Present</span>
                            </div>
                            </div>
                            <div class="timeline-content timeline-indicator">
                            <div class="card primary-background border-0 shadow">
                                <div class="card-body p-xl-4 text-white">
                                <h2 class="card-title mb-2">University of the East</h2>
                                <h6 class="card-subtitle text-secondary mb-3">Sangandaan, Caloocan</h6>
                                <p class="card-text m-0">
                                    <!--Description here-->
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </li>
                        <li class="timeline-item right">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                            <div class="text-white d-inline-flex flex-column px-2 py-1 primary-background rounded-2 text-md-end">
                                <span>2016 - 2019</span>
                            </div>
                            </div>
                            <div class="timeline-content timeline-indicator">
                            <div class="card primary-background border-0 shadow">
                                <div class="card-body p-xl-4 text-white">
                                <h2 class="card-title mb-2">Cor Jesu</h2>
                                <h6 class="card-subtitle text-secondary mb-3">Mabini Compostela Valley</h6>
                                <p class="card-text m-0">
                                    <!--Description here-->
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </li>
                        <li class="timeline-item left">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                            <div class="primary-background text-white d-inline-flex flex-column px-2 py-1 rounded-2 text-md-end">
                                <span>2010 - 2016</span>
                            </div>
                            </div>
                            <div class="timeline-content timeline-indicator">
                            <div class="card primary-background border-0 shadow">
                                <div class="card-body p-xl-4 text-white">
                                <h2 class="card-title mb-2">Mabini Elementary School</h2>
                                <h6 class="card-subtitle text-secondary mb-3">Mabini Compostela Valley</h6>
                                <p class="card-text m-0">
                                   <!--Description here-->
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </li>
                    </ul>
            
                    </div>
                </div>
            </div>
        </section>


        <!--Notice-->
        <div class="container-fluid mt-4">
            <blockquote class="custom-blockquote">
                Under Construction
            </blockquote>
        </div> 
    </div>
    
{% endblock %}