{% extends 'common.html' %}

{% load static %}

{% block title %} My Resume {% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm primary-background navbar-radius p-4 m-0 w-100" data-bs-theme="dark">
        <div class="container-fluid p-0">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center mt-4" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="{% url 'about' %}">About</a>
                    <a class="nav-link text-white" href="{% url 'projects' %}">Projects</a>
                    <a class="nav-link text-white active navitem-selected" aria-current="page" href="{% url 'resume' %}">Resume</a>
                    <a class="nav-link text-white" href="{% url 'iot' %}">IOT</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container p-4">

        <!-- Title and Description Area -->
        <div class="text-center mt-2 px-3">
            <h1 class="mb-3">Resume</h1>
            <p class="lead text-white">
                This page is designed to give you all the reasons to convince you to hire me.
            </p>
        </div>

        <p class="custom-hr-center"></p>


        <!--Regular Title-->
        <div class="col-12 mt-5">
            <h3 class="text-white text-left">
                Notable Projects
            </h3>
            <p class="custom-hr-left"></p>  
        </div>

       <!--Notable Projects-->
        <div class="container p-0 col-12 px-2 primary-background window-radius">

            <!--Personal Cards-->
            <div class="row d-flex justify-content-around p-3 pt-4">

                <h5 class="col-12 text-white text-left">
                    Personal
                </h5>

                <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                    <a class="card card-accent-right primary-background p-2 h-100" href="https://github.com/Zyd8/hash-dog">
                        <div class="row g-0">
                            <div class="col-md-12 notableproject-icon-container">
                                <img src="{% static 'assets/logo-hashdog.png' %}"
                                    class="notableproject-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body text-white">

                                    <h5 class="progress-title text-center">HashDog</h5>
                                    
                                    <!--Badges-->
                                    <p class="text-center">
                                        <span class="badge rounded-pill text-bg-primary">Cybersecurity</span>
                                        <span class="badge rounded-pill" style="background-color: black;">Desktop app</span>
                                        <span class="badge rounded-pill" style="background-color: green;">Hashing</span>
                                        <span class="badge rounded-pill" style="background-color: darkgoldenrod;">Data Integrity</span>
                                        <span class="badge rounded-pill" style="background-color: purple;">C#</span>
                                        <span class="badge rounded-pill" style="background-color: #7851A9;">Avalonia</span> 
                                        <span class="badge rounded-pill" style="background-color: blue;">Dotnet</span>
                                        <span class="badge rounded-pill" style="background-color: magenta;">EF Core</span>
                                        <span class="badge rounded-pill" style="background-color: rgb(33, 132, 165);">SQLite</span>
                                    </p>

                                    <div class="custom-hr-center-small"></div>

                                    
                                    <!--Regular Description-->
                                    <div class="col-12 mt-2 mb-2">
                                        <p class="text-white description">
                                            A GUI tool that periodically checks file hashes of a specified folder recursively to monitor data integrity.                             
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                    <a class="card card-accent-right primary-background p-2 h-100" href="https://github.com/Zyd8/terrADBsync">
                        <div class="row g-0">
                            <div class="col-md-12 notableproject-icon-container">
                                <img src="{% static 'assets/logo-terradbsync.png' %}"
                                    class="notableproject-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body text-white">     
                                    
                                    <h5 class="progress-title text-center">TerraADBsync</h5>

                                     <!--Badges-->
                                     <p class="text-center">                              
                                        <span class="badge rounded-pill" style="background-color: purple;">Crossplatform</span> 
                                        <span class="badge rounded-pill" style="background-color: red;">Automation</span>  
                                        <span class="badge rounded-pill" style="background-color: black;">CLI app</span>   
                                        <span class="badge rounded-pill" style="background-color: orange;">ADB</span>   
                                        <span class="badge rounded-pill" style="background-color: green;">Backup</span>      
                                        <span class="badge rounded-pill" style="background-color: blue;">Python</span> 
                                    </p>                    
                                    
                                    <div class="custom-hr-center-small"></div>

                                    <!--Regular Description-->
                                    <div class="col-12 mt-2 mb-2">
                                        <p class="text-white description">
                                            Easy synchronization of Terraria save files between Windows/Linux and Android using ADB (Android Debug Bridge). 
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                    <a class="card card-accent-right primary-background p-2 h-100" href="https://github.com/Zyd8/hash-transfer-cli">
                        <div class="row g-0">
                            <div class="col-md-12 notableproject-icon-container">
                                <img src="{% static 'assets/logo-hashtransfercli.png' %}"
                                    class="notableproject-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body text-white">     
                                    
                                    <h5 class="progress-title text-center">Hash Transfer CLI</h5>

                                     <!--Badges-->
                                     <p class="text-center">
                                        <span class="badge rounded-pill text-bg-primary">Cybersecurity</span>
                                        <span class="badge rounded-pill" style="background-color: black;">CLI app</span> 
                                        <span class="badge rounded-pill" style="background-color: purple;">C#</span>
                                        <span class="badge rounded-pill" style="background-color: blue;">Dotnet</span>
                                        <span class="badge rounded-pill" style="background-color: green;">Hashing</span>
                                        <span class="badge rounded-pill" style="background-color: darkgoldenrod;">Data Integrity</span>
                                        
                                    </p>                    
                                    
                                    <div class="custom-hr-center-small"></div>

                                    <!--Regular Description-->
                                    <div class="col-12 mt-2 mb-2">
                                        <p class="text-white description">
                                            A secure command-line tool for copying and moving files securely between locations. This tool supports a variety of hash algorithms to ensure data integrity during the transfer process. 
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <!--Academic Cards-->
            <div class="row d-flex justify-content-around p-3">

                <h5 class="col-12 text-white text-left">
                    Academic
                </h5>

                 <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                    <a class="card card-accent-right primary-background p-2 h-100" href="https://github.com/Zyd8/shelby-lorraine-crochet" >
                        <div class="row g-0">
                            <div class="col-md-12 notableproject-icon-container">
                                <img src="{% static 'assets/logo-shelbylorrainecrochet.png' %}"
                                    class="notableproject-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body text-white">

                                    <h5 class="progress-title text-center">Shelby Lorraine's Crochet</h5>
                                    <h6 class="card-subtitle text-secondary text-center mb-3">Leader / Backend</h6>
                                    
                                    <!--Badges-->
                                    <p class="text-center">
                                        <span class="badge rounded-pill" style="background-color: black;">Web app</span> 
                                        <span class="badge rounded-pill" style="background-color: peachpuff;">Crochet</span>
                                        <span class="badge rounded-pill" style="background-color: gray;">E-commerce</span>         
                                        <span class="badge rounded-pill" style="background-color: purple;">Backend Development</span>
                                        <span class="badge rounded-pill" style="background-color: green;">Django</span>
                                        <span class="badge rounded-pill" style="background-color: blue;">Python</span>
                                        <span class="badge rounded-pill" style="background-color: rgb(33, 132, 165);">SQLite</span>
                                        <span class="badge rounded-pill" style="background-color: orangered;">HTML</span>
                                        <span class="badge rounded-pill" style="background-color: cyan;">CSS</span>
                                        <span class="badge rounded-pill" style="background-color: darkgoldenrod;">JS</span>
                                        <span class="badge rounded-pill" style="background-color: magenta;">Bootstrap</span>     
                                    </p>

                                    <div class="custom-hr-center-small"></div>

                                    
                                    <!--Regular Description-->
                                    <div class="col-12 mt-2 mb-2">
                                        <p class="text-white description">
                                           An E-commerce web app specialized for selling crochet products.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                    <a class="card card-accent-right primary-background p-2 h-100" href="https://github.com/Zyd8/asia-recipe-hub">
                        <div class="row g-0">
                            <div class="col-md-12 notableproject-icon-container">
                                <img src="{% static 'assets/logo-asiarecipehub.png' %}"
                                    class="notableproject-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body text-white">     
                                    
                                    <h5 class="progress-title text-center">Asia Recipe Hub</h5>
                                    <h6 class="card-subtitle text-secondary text-center mb-3">Leader / Frontend</h6>

                                    <!--Badges-->
                                    <p class="text-center">                  
                                        <span class="badge rounded-pill" style="background-color: brown;">Recipes</span>             
                                        <span class="badge rounded-pill" style="background-color: black;">Mobile app</span> 
                                        <span class="badge rounded-pill" style="background-color: lightcoral;">Frontend Development</span>  
                                        <span class="badge rounded-pill" style="background-color: purple;">Crossplatform</span> 
                                        <span class="badge rounded-pill" style="background-color: lightskyblue;">React Native</span>
                                        <span class="badge rounded-pill" style="background-color: darkgoldenrod">JS</span>
                                        <span class="badge rounded-pill" style="background-color: gray;">Expo CLI</span>
                                    </p>                    
                                    
                                    <div class="custom-hr-center-small"></div>

                                    <!--Regular Description-->
                                    <div class="col-12 mt-2 mb-2">
                                        <p class="text-white description">
                                            A one stop mobile app for all your Asian recipe needs.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                    <a class="card card-accent-right primary-background p-2 h-100" href="https://github.com/Zyd8/kamayan">
                        <div class="row g-0">
                            <div class="col-md-12 notableproject-icon-container">
                                <img src="{% static 'assets/logo-kamayan.png' %}"
                                    class="notableproject-icon p-2 img-fluid" alt="...">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body text-white">     
                                    
                                    <h5 class="progress-title text-center">Kamayan</h5>
                                    <h6 class="card-subtitle text-secondary text-center mb-3">Backend Developer</h6>

                                     <!--Badges-->
                                     <p class="text-center">
                                        <span class="badge rounded-pill" style="background-color: gray;">Marketplace</span>  
                                        <span class="badge rounded-pill" style="background-color: black;">Web app</span>
                                        <span class="badge rounded-pill" style="background-color: purple;">Backend Development</span>
                                        <span class="badge rounded-pill" style="background-color: green;">Django</span>
                                        <span class="badge rounded-pill" style="background-color: blue;">Python</span>
                                        <span class="badge rounded-pill" style="background-color: rgb(33, 132, 165);">SQLite</span>
                                        <span class="badge rounded-pill" style="background-color: orangered;">HTML</span>
                                        <span class="badge rounded-pill" style="background-color: cyan;">CSS</span>
                                        <span class="badge rounded-pill" style="background-color: darkgoldenrod;">JS</span>
                                        <span class="badge rounded-pill" style="background-color: magenta;">Bootstrap</span>     

                                        
                                    </p>                    
                                    
                                    <div class="custom-hr-center-small"></div>

                                    <!--Regular Description-->
                                    <div class="col-12 mt-2 mb-2">
                                        <p class="text-white description">
                                            A web app marketplace catered to trading or selling preloved items.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>




        <!--Regular Title-->
        <div class="col-12 mt-5">
            <h3 class="text-white text-left">
                Academic Achievements
            </h3>
            <p class="custom-hr-left"></p>  
        </div>

        <!--Academic Achivement Timeline-->
        <section class="bsb-timeline-4  py-3 py-md-3 py-xl-3">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="education-icon-container p-0">
                        <img class="card-shadow education-icon p-3" src="{% static 'assets/education-medal.png' %}" alt="">
                    </div>
                    
                    <div class="col-10 col-md-12 col-xl-10 col-xxl-9 p-0">
      
                    <ul class="timeline">
                        <li class="timeline-item right">
                            <div class="timeline-body">
                                <div class="timeline-meta">
                                <div class="d-inline-flex flex-column px-2 py-1 text-white primary-background rounded-2 text-md-end">
                                    <span>Present</span>
                                </div>
                                </div>
                                <div class="timeline-content timeline-indicator">
                                <div class="card primary-background border-0 shadow">
                                    <div class="card-body p-xl-4 text-white">
                                    <h2 class="card-title mb-2">GWA: 1.4</h2>
                                    <h6 class="card-subtitle text-secondary mb-3">Freshman - Present</h6>
                                    <p class="card-text m-0">
                                        <!--Description here-->
                                    </p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-item left">
                            <div class="timeline-body">
                                <div class="timeline-meta">
                                <div class="text-white d-inline-flex flex-column px-2 py-1 primary-background rounded-2 text-md-end">
                                    <span>2024</span>
                                </div>
                                </div>
                                <div class="timeline-content timeline-indicator">
                                <div class="card primary-background border-0 shadow">
                                    <div class="card-body p-xl-4 text-white">
                                    <h2 class="card-title mb-2">College Scholar</h2>
                                    <h6 class="card-subtitle text-secondary mb-3">Junior year</h6>
                                    <p class="card-text m-0">
                                        <!--Description here-->
                                    </p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-item right">
                            <div class="timeline-body">
                                <div class="timeline-meta">
                                <div class="text-white d-inline-flex flex-column px-2 py-1 primary-background rounded-2 text-md-end">
                                    <span>2024</span>
                                </div>
                                </div>
                                <div class="timeline-content timeline-indicator">
                                <div class="card primary-background border-0 shadow">
                                    <div class="card-body p-xl-4 text-white">
                                    <h2 class="card-title mb-2">College Scholar</h2>
                                    <h6 class="card-subtitle text-secondary mb-3">Sophomore year</h6>
                                    <p class="card-text m-0">
                                        <!--Description here-->
                                    </p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-item left">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                            <div class="d-inline-flex flex-column px-2 py-1 text-white primary-background rounded-2 text-md-end">
                                <span>2022</span>
                            </div>
                            </div>
                            <div class="timeline-content timeline-indicator">
                            <div class="card primary-background border-0 shadow">
                                <div class="card-body p-xl-4 text-white">
                                <h2 class="card-title mb-2">With Honors</h2>
                                <h6 class="card-subtitle text-secondary mb-3">Grade 12</h6>
                                <p class="card-text m-0">
                                    <!--Description here-->
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </li>
                        <li class="timeline-item right">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                            <div class="text-white d-inline-flex flex-column px-2 py-1 primary-background rounded-2 text-md-end">
                                <span>2021</span>
                            </div>
                            </div>
                            <div class="timeline-content timeline-indicator">
                            <div class="card primary-background border-0 shadow">
                                <div class="card-body p-xl-4 text-white">
                                <h2 class="card-title mb-2">With High Honors</h2>
                                <h6 class="card-subtitle text-secondary mb-3">Grade 12</h6>
                                <p class="card-text m-0">
                                    <!--Description here-->
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </li>
                        <li class="timeline-item left">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                            <div class="primary-background text-white d-inline-flex flex-column px-2 py-1 rounded-2 text-md-end">
                                <span>2021</span>
                            </div>
                            </div>
                            <div class="timeline-content timeline-indicator">
                            <div class="card primary-background border-0 shadow">
                                <div class="card-body p-xl-4 text-white">
                                <h2 class="card-title mb-2">With Honors</h2>
                                <h6 class="card-subtitle text-secondary mb-3">Grade 11</h6>
                                <p class="card-text m-0">
                                   <!--Description here-->
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </li>
                    </ul>
            
                    </div>
                </div>
            </div>
        </section>

        <!--Regular Title-->
        <div class="col-12 mt-5">
            <h3 class="text-white text-left">
                Extracurricular
            </h3>
            <p class="custom-hr-left"></p>  
        </div>
        
        <!--Extracurricular cards-->
        <div class="container col-12">
            <div class="row d-flex justify-content-around">
        
                <a class="card card-accent-right primary-background col-lg-12 col-sm-12 mb-4 p-2" href="https://devbits.ph/events/2024-April/innolympics-2024">
                    <div class="row g-0">
                        <div class="col-lg-6 col-md-12 passion-icon-container">
                            <img src="{% static 'assets/extracurricular-hackathonplm.png' %}" class="p-3 img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body text-white">
                                <h5 class="card-title">GDSC-PLM Hackathon: InnOlympics 2024</h5>
                                <h6 class="card-subtitle text-secondary mb-3">Team: 12 Grid | Backend Developer</h6>
                                <p class="card-text description">
                                    <ul>
                                        <li>Participated in my first-ever hackathon, which was both enriching and humbling.</li>
                                        <li>Developed an app addressing one of the 17 UN SDG goals within a 2-day timeframe.</li>
                                        <li>Created the app named <b>Kamayan</b>, though it was rushed due to time constraints.</li>
                                        <li>Despite not winning, gained valuable experience and insights.</li>
                                        <li>Plan to apply the newly-acquired knowledge to future hackathons.</li>
                                    </ul>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </a>
        
                <a class="card card-accent-right primary-background col-lg-12 col-sm-12 mb-4 p-2" href="https://ai.google.dev/competition">
                    <div class="row g-0">
                        <div class="col-lg-6 col-md-12 passion-icon-container">
                            <img src="{% static 'assets/extracurricular-gemini.png' %}" class="p-3 img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body text-white">
                                <h5 class="card-title">Gemini API Developer Competition</h5>
                                <h6 class="card-subtitle text-secondary mb-3">Backend Developer | Gemini API Handler</h6>
                                <p class="card-text description">
                                    <ul>
                                        <li>Participated in an outside-school competition utilizing Google's Gemini API.</li>
                                        <li>The project deadline is August 12, 2024.</li>
                                        <li>Currently developing a web app named <b>Drip Gemini</b>.</li>
                                        <li>Drip Gemini aims to use the Gemini model to suggest wares based on user preferences and uploaded images from their closet gallery.</li>
                                        <li>The project is 60% done and has been discontinued indefinitely.</li>
                                    </ul>
                                </p>          
                            </div>
                        </div>
                    </div>
                </a>

                <a class="card card-accent-right primary-background col-lg-12 col-sm-12 mb-4 p-2" href="https://github.com/Zyd8">
                    <div class="row g-0">
                        <div class="col-lg-6 col-md-12 passion-icon-container">
                            <img src="{% static 'assets/extracurricular-contribution.png' %}" class="p-3 img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body text-white">
                                <h5 class="card-title">GitHub Open Source Contributions</h5>
                                <h6 class="card-subtitle text-secondary mb-3">GNU GPLv3</h6>
                                <p class="card-text description">
                                    <ul>
                                        <li>Proud advocate of open-source principles.</li>
                                        <li>Created over 30 public projects across two GitHub accounts.</li>
                                        <li>All projects are licensed under GNU GPLv3</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <!--Regular Title-->
        <div class="col-12 mt-4">
            <h3 class="text-white text-left">
                Education
            </h3>
            <p class="custom-hr-left"></p>  
        </div>

        <!--Education Timeline-->
        <section class="bsb-timeline-4  py-3 py-md-3 py-xl-3">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="education-icon-container p-0">
                        <img class="card-shadow education-icon p-3" src="{% static 'assets/education-cap.png' %}" alt="">
                    </div>
                    
                    <div class="col-10 col-md-12 col-xl-10 col-xxl-9 p-0">
      
                    <ul class="timeline">
                        <li class="timeline-item left">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                            <div class="d-inline-flex flex-column px-2 py-1 text-white primary-background rounded-2 text-md-end">
                                <span>2019</span>
                            </div>
                            </div>
                            <div class="timeline-content timeline-indicator">
                            <div class="card primary-background border-0 shadow">
                                <div class="card-body p-xl-4 text-white">
                                <h2 class="card-title mb-2">University of the East</h2>
                                <h6 class="card-subtitle text-secondary mb-3">Sangandaan, Caloocan</h6>
                                <p class="card-text m-0">
                                    <!--Description here-->
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </li>
                        <li class="timeline-item right">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                            <div class="text-white d-inline-flex flex-column px-2 py-1 primary-background rounded-2 text-md-end">
                                <span>2016</span>
                            </div>
                            </div>
                            <div class="timeline-content timeline-indicator">
                            <div class="card primary-background border-0 shadow">
                                <div class="card-body p-xl-4 text-white">
                                <h2 class="card-title mb-2">Cor Jesu</h2>
                                <h6 class="card-subtitle text-secondary mb-3">Mabini Compostela Valley</h6>
                                <p class="card-text m-0">
                                    <!--Description here-->
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </li>
                        <li class="timeline-item left">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                            <div class="primary-background text-white d-inline-flex flex-column px-2 py-1 rounded-2 text-md-end">
                                <span>2010</span>
                            </div>
                            </div>
                            <div class="timeline-content timeline-indicator">
                            <div class="card primary-background border-0 shadow">
                                <div class="card-body p-xl-4 text-white">
                                <h2 class="card-title mb-2">Mabini Elementary School</h2>
                                <h6 class="card-subtitle text-secondary mb-3">Mabini Compostela Valley</h6>
                                <p class="card-text m-0">
                                   <!--Description here-->
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </li>
                    </ul>
            
                    </div>
                </div>
            </div>
        </section>


        

        <!-- Notice
        <div class="container-fluid mt-4">
            <blockquote class="custom-blockquote">
                Under Construction
            </blockquote>
        </div>  -->

    </div>
    
{% endblock %}